.container{
    width: 100%;
    min-height: 100vh;
    padding:10px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: black;
    font-weight: 100;
    text-align: center;
    padding: 25px;
    font-size: 20px;
    position: relative;
}

h2:before {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: #c4c4c4;
    left: 1px;
    top: 50%;
    position: absolute;
    margin-left: 5%;
  }

h2:after {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: #c4c4c4;
    right: 1px;
    top: 50%;
    position: absolute;
    margin-right: 5%;
  }

/* Image */
img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

/* Discount discription */
.textbox {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

p {
    font-size: small;
}

/* Share zone */
.radio-btns:hover {
    cursor: pointer;
}

input[type="radio"] {
   accent-color: black;
}

.email-text p {
    color: black;
    font-size: 12px;

}

.information {
    padding: 25px;
}

.share {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


/* Form CSS */
.share-title {
    font-weight: 50;
    font-size: 20px;  
}

#form-id {
    padding-top: 10px;
}

#email-text, #text-text, #recipent-text, #spelling-text, #address-text{
    font-size: xx-small;
}


#recipent, #spelling, #address {
    width: 80%;
    height:20px;
}

.submit-btn {
    color: white;
    background-color: #b20714;
    border: none;

    font-size: xx-small;
    width: 60px;
    height: 25px
}

.submit-btn:hover {
    cursor:pointer;
}

input[type=radio] {
    vertical-align:middle;
    margin-top: 0
}

/* Link Section */
.link-title {
    font-weight: 50;
    font-size: 20px;
    padding-bottom: 20px
    
}

.copy-box {
    background-color:#ebebeb;
    border-style: solid;
    border-color:gray;
    border-width: 1px;
    width: auto;
    height: 45px;
    padding: 10px;
}

#copy {
    font-size: 12px;
}

#copy-btn {
    color: white;
    background-color: #b20714;
    border: none;
    font-size: xx-small;
    width: 60px;
    height: 30px;
}

#copy-btn:hover {
    cursor: pointer
}

.link {
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.links p {
    margin-top: 10px;
    color: black;
    font-size: 10px;
}

/* Social Media icons */
.invite-title {
    font-weight: 50;
    font-size: 20px;
}

.platforms {
    margin-left: 12px;
}

.platform-container {
    padding-top: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: -10px;
    margin-right: 100px
}

.platform-icon img{
    width: 20px;
    color:#b20714;
    vertical-align:middle;
    margin-top: 0
}

.platform-icon{
    font-size: small;
    color: black;
}

.platform-text {
    font-size: x-small;
}

/* Screen size changes */
@media screen and (min-width: 700px){
    #copy-btn {
        margin-left: 200px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 200px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 200px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 800px){
    #copy-btn {
        margin-left: 200px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 225px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 225px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 900px){
    #copy-btn {
        margin-left: 100px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 1000px){
    #copy-btn {
        margin-left: 150px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 300px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 300px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 1200px){
    #copy-btn {
        margin-left: 200px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 350px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 350px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 1400px){
    #copy-btn {
        margin-left: 220px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 450px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 450px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 1600px){
    #copy-btn {
        margin-left: 250px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 500px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 500px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}

@media screen and (min-width: 2000px){
    #copy-btn {
        margin-left: 350px;
        margin-top: -10px
    }

    h2:before {
        content: "";
        display: block;
        width: 650px;
        height: 2px;
        background: #c4c4c4;
        left: 1px;
        top: 50%;
        position: absolute;
        margin-left: 5%;
      }
    
    h2:after {
        content: "";
        display: block;
        width: 650px;
        height: 2px;
        background: #c4c4c4;
        right: 1px;
        top: 50%;
        position: absolute;
        margin-right: 5%;
      }
}